# Environnements virtuels
venv/
env/

# Fichiers compilés Python
__pycache__/
*.pyc

# Base de données SQLite (non utilisée car PostgreSQL est en place)
db.sqlite3

# Fichiers temporaires, logs
*.log

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers sensibles d'environnement
.env
# Ignorer l'ancien settings pour ne pas exposer les secrets
restaurantplus/settings_copie.py
